#recs {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#recs::-webkit-scrollbar {
    display: none;
}

#recs-title {
    justify-self: left;
    padding-left: 1rem;
}

#recs-subtitle {
    text-align: left;
    padding: 0 1.5rem;
    font-size: 0.9rem;
}