#flowchart {
    width: 100%;
    overflow-y: scroll;
}

#flowchart-title {
    font-weight: bold;
    margin: 2rem;
}

#flowchart-img {
    margin: 0 auto;
    width: calc(100% - 4rem);
    border-radius: 3rem;
}