#navbar {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-around;
  transition: 1s;
  font-family: monospace;
  font-weight: bold;
  color: rgb(244,244,244, 80%);
  width: 100%;
  z-index: 1;
  height: 3rem;
  background-color: #41305c;
}

.nav-button {
  user-select: none;
  transition: 0.3s;
  max-width: 11rem;
  width: 34%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
}

#menu:hover,
.nav-button:hover {
  background-color: #1f172c;
}

#nav-selectbox {
  position: absolute;
  height: 100%;
  width: 34%;
  z-index: 3;
  background-color: #1f172c;
  transition: 1s;
}

#nav-selectbox.one {
  left: 0;
}

#nav-selectbox.two {
  left: 33%;
}

#nav-selectbox.three {
  left: 66%;
}

/* #navbar.hideNav {
  right: -16rem;
  transition: 1s;
}  

#menu {
  position: absolute;
  padding: 1.2rem;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  transition: 0.3s;
  user-select: none;
  background-color: #41305c;
  color: rgb(244,244,244, 80%);
  border-radius: 2rem 0 0 2rem;
} */