#home-text {
    margin: 0 auto;
    padding: 1rem 0;
    font-family: serif;
    width: 100%;
    transition: 2s;
    user-select: none;
    height: 5rem;
}

#home-title {
    text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white;
    font-size: 1.5rem;
}

.subheader {
    font-family: monospace;
    font-size: 0.9rem;
    color: rgb(244,244,244, 80%);
    text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white;
    transition: 2s;
}