.filter-button {
    background-color: #855988;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(244,244,244, 90%);
}

.filter-button.selected {
    background-color: rgb(244,244,244, 90%);
    color: rgb(10,10,10,90%);
}

.filter-button:not(.selected):hover {
    box-shadow: 0 0 5px rgb(244,244,244, 90%);
}