#filter-bar {
    padding: 1rem;
    position: fixed;
    max-width: calc(500px - 2rem);
    width: calc(100vw - 2rem);
    top: 0;
    display: flex;
    gap: 1.1rem 0.6rem;
    z-index: 1;
    background-color: rgb(31, 23, 44, 0.8);
    border-bottom: 2px solid rgb(31, 23, 44);
    border-radius: 0 0 1.5rem 1.5rem;
    flex-wrap: wrap;
    transition: max-height 1s;
    max-height: 8rem;
    overflow: hidden;
    align-items: center;
    user-select: none;
}

#filter-bar.minimized {
    max-height: 1.5rem;
}

.filter-bar-toggle {
    align-self: center;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    padding-right: 0.5rem;
}