#home {
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(#855988,#070B34 40%);
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

#content {
  width: calc(100% * 3);
  display: flex;
  transition: 1s;
  top: 10rem;
  height: fit-content;
}

#content.page-one {
  transform: translateX(33.5%);
}

#content.page-two {
  transform: translateX(0);
}

#content.page-three {
  transform: translateX(-33.5%);
}