#background {
  position: absolute;
  background: linear-gradient(#855988,#070B34 50%);
  height: 200vh;
  top: 0;
  width: 100%;
  transition: 2s;
}

#background.night {
  top: -100%;
}

#home {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  max-width: 500px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

#content {
  width: calc(100% * 3);
  display: flex;
  transition: 1s;
  top: 10rem;
  height: calc(100vh - 3rem);
}

#content.page-one {
  transform: translateX(33.5%);
}

#content.page-two {
  transform: translateX(0);
}

#content.page-three {
  transform: translateX(-33.5%);
}